.card {
    height: 85%;
    width: 40%;
    color: white;
    margin: 4%;
    border: none;
    border-radius: 16px;
    font-family: sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 
    0 0 20px rgba(0, 0, 0, 0.6),              
    0 0 40px rgba(255, 20, 147, 0.4),         
    0 0 70px rgba(218, 112, 214, 0.3),        
    inset 0 0 15px rgba(255, 182, 193, 0.5);
  }
  .innerCard{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .image{
    width:90%;
    height:60%;
    margin: 5%;
    
  }
  .title{
    margin:0px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2%;
  }
  .description{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .link{
    color: #FF69B4;
    text-decoration: none;
  }
